.header-color{
  background: #c31432;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.landing-grid{
  text-align: center;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #c31432;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.avatar-img{
  height: 250px;
  padding-top: 5em;
}
.banner-text{
  background-color: #240b36;
  opacity: .8;
  width: 75%;
  margin: auto;
  border-radius: 10px;
  
}
.banner-text h1{
  font-size: 60px;
  font-weight: bold;
  color: white;
  text-align: center;
}
.landing-skills{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px;
  padding: 10px;
}
.landing-skills p{
  color: rgba(204, 204, 204, 0.699);
  font-size: 12px;
  word-spacing: 2px;
}

.FrontEnd{
  border-right: 2px solid #c31432;
  border-left:  2px solid #c31432;
  border-top: 2px solid #320f4b;
  border-bottom: 2px solid #320f4b;
  padding-right: 1em;
  padding: 1em ;
}
@media screen and (max-width: 1024px){
.mdl-layout__drawer-button {
    margin: 4px;
    color: white;
}
}